* @Shluffy
.github/ @FunctionalMetatable
.prettierignore @FunctionalMetatable
.all-contributorsrc @Shluffy
contributors.html @Shluffy @xItzDiamondx
*.html @xItzDiamondx
style.css @xItzDiamondx
script.js @xItzDiamondx
